*{
	margin: 0;
}


.static{position: absolute;
	top:0px;
    left:250px;}
.relative{position: absolute;
    top:0px;
    left:750px;}
.absolute{position: absolute;
	top:0px;
	left:1250px}
.fixed{position: absolute;
	top:0px;
	left: 1750px}
.sticky{position: absolute;
    top: 0px;
    left: 2250px;}

.house-s{

	width: 350px;
	margin: 50px 0px 0px 50px;
	width: 450px;
	height: 350px;
	border:2px solid;

}

.house-s__roof{

	margin: 100px 0 0 75px;
	height: 0; 
	width: 100px;
	border-bottom: 100px solid brown;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-radius: 50px;

}

.house-s__frame{

	margin:0px 0 0 125px;
	background: grey;
	width: 200px;
	height: 150px;

}

.house-s__door{

	width: 40px;
	height: 80px;
	background: brown;
	display: inline-block;
	margin: 70px 0 0 30px;

}

.house-s__window{

	width: 30px;
	height: 50px;
	background: aquamarine;
	display: inline-block;
	margin: 0 0 50px 60px;

}



.house-r{
	
	width: 350px;
	position: relative;
	top:-354px;
	left:550px;
	height: 350px;
	width: 450px;
	border:2px solid;

}

.house-r__roof{

	position: relative;
	left:75px;
	bottom:-100px;
	height: 0; 
	width: 100px;
	border-bottom: 100px solid brown;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-radius: 50px;

}

.house-r__frame{
	
	position: relative;
	left:125px;
	bottom: -100px;
	background: coral;
	width: 200px;
	height: 150px;

}

.house-r__door{
	
	position:relative;
	width: 40px;
	height: 80px;
	background: brown;
	display: inline-block;
	top:70px;
	left:30px;

}

.house-r__window{
	
	position: relative;
	width: 30px;
	height: 50px;
	background: aquamarine;
	display: inline-block;
	bottom:-20px;
	left:85px;

}



.house-a{

	width: 350px;
	position: absolute;
	height: 350px;
	width: 450px;
	top:50px;
	left:1050px;
	border:2px solid;

}

.house-a__roof{
	
	position: absolute;
	left:75px;
	bottom:150px;
	height: 0; 
	width: 100px;
	border-bottom: 100px solid brown;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	
	border-radius: 50px;
}

.house-a__frame{
	
	position: absolute;
	left:125px;
	bottom:0px;
	background: moccasin;
	width: 200px;
	height: 150px;

}

.house-a__door{
	
	position: absolute;
	width: 40px;
	height: 80px;
	background: brown;
	display: inline-block;
	left:30px;
	top:70px;

}

.house-a__window{
	
	position: absolute;
	width: 45px;
	height: 65px;
	background: dodgerblue;
	display: inline-block;
	border-radius: 100%;
	bottom:50px;
	left:125px;

}





.house-f{

	width: 350px;
	position: fixed;
	top:50px;
	left: 1550px;
	width: 450px;
	height: 350px;

}

.house-f__roof{
	
	position: fixed;
	right: 50px;
	top:152px;
	height: 0; 
	width: 100px;
	border-bottom: 100px solid brown;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-radius: 50px;

}

.house-f__frame{
	right: 100px;
	top:252px;
	position: fixed;
	background: tan;
	width: 200px;
	height: 150px;
}

.house-f__door{
	
	position: fixed;
	width: 40px;
	height: 80px;
	background: brown;
	display: inline-block;
	right:226px;
	top:322px;

}

.house-f__window{
	
	position: fixed;
	width: 30px;
	height: 50px;
	background: aquamarine;
	display: inline-block;
	top:300px;
	right:140px;

}

.house-sy{

    position: sticky;
    width: 450px;
    height: 350px;
    border: 2px solid;
    margin-top: 100px;
    margin-left: 50px;
    top: 400px;
    z-index: 100;
    background-color: white;
}

.house-sy__roof{
	
    position: sticky;
    width: 100px;
    border-bottom: 100px solid brown;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-radius: 50px;
    margin-top: 100px;

}

.house-sy__frame{
    position: sticky;
    background: tan;
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    padding-left: 30px;
    margin-left: 55px;
    margin-top: 0px;
}

.house-sy__door{
	
    position: sticky;
    width: 40px;
    height: 80px;
    background: brown;
    display: inline-block;
    margin-top: 70px;

}

.house-sy__window{
	
    position: sticky;
    width: 30px;
    height: 50px;
    background: aquamarine;
    float: right;
    margin-right: 50px;
    margin-top: 40px;

}
